/cours0/.vs
/cours0/Debug
/cours1/Debug
/cours1/.vs
/cours1/x64
/cours2/Debug
/cours2/.vs
/cours3/.vs
/cours3/Debug
/cours3/Release
/cours4/x64
/cours4/Debug
/cours4/.vs
/cours2/Release
/cours5/x64
/cours5/.vs
/cours6/.vs
/cours6/x64
